@model FitnessGuru.Services.Models.Categories.ArticleDetailsViewModel
@{
    ViewData["Title"] = "Article Details";
}

<div class="pull-left table-bordered" style="margin: 40px ">
    <div class="col-md-12" style="background-color: white">
        <h5>@Html.DisplayFor(model => model.CategoryName)</h5>
        <h2 style="color: black"> @Html.DisplayFor(model => model.Title)</h2>
        <h4 style="color: grey"> @Html.DisplayFor(model => model.ArticleDescription)</h4>
        <div class="col-md-12" style="margin: 30px">
            <img height="250" style="float: left" src="@Model.ImgUrl" />
            <div style="color: black; size: auto">@Html.DisplayFor(model => model.Content) </div>
        </div>
    </div>
</div>
<div>
    <b><a asp-action="Index" asp-controller="Home">Back to Home Page</a></b>
</div>
