@model FitnessGuru.Services.Models.Categories.ArticleDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<div class="pull-left">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h2 style="color: black"> @Html.DisplayFor(model => model.Title)</h2>
            <hr />
        </dd>
        <dd>
            <h5 style="color: grey"> @Html.DisplayFor(model => model.ArticleDescription)</h5>
            <hr />
        </dd>
        <dd>
             <img height="300" width="950" src="@Model.ImgUrl"/>
            <hr/>
        </dd>
       
        <dd>
            @Html.DisplayFor(model => model.Content)
            <hr />
        </dd>
        <dd>
            <h4>@Html.DisplayFor(model => model.CategoryName)</h4>
            <hr />
        </dd>
    </dl>
</div>
<div>
    <b><a asp-action="Index" asp-controller="Home">Back to Home Page</a></b>
</div>
