@using FitnessGuru.Models.Articles
@model FitnessGuru.Services.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<h3><b>Newest Articles</b></h3>
<div class="row">
    @foreach (var article in Model.Articles)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                    <div class="panel-heading"><h4>@article.Title</h4></div>
                </a>
                <div class="panel-body">
                    @Html.Raw(article.HtmlContent)
                </div>
                <div class="panel-heading">
                    <h5>
                        <a asp-controller="Categories" asp-action="Details" asp-route-id="@article.CategoryName">@article.CategoryName</a>                      
                    </h5>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h3><b>Newest Products</b></h3>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                  
                    <div class="panel-heading"><h4>@product.Title</h4></div>
                    <img height="125" width="115" class="center-block col-md-5" src="@product.ImgUrl" />
                </a>
                <div class="panel-body ">
                    @Html.Raw(product.HtmlContent)
                    <br/>
                    $@product.Price
                </div>
                <div class="panel-heading">
                    <h5>
                       @product.ProductCategoryName
                    </h5>
                </div>              
            </div>
        </div>
    }
</div>