@model FitnessGuru.Services.Models.Store.ProductDetailsViewModel
@{
    ViewData["Title"] = "Product Details";
}
<div class="container" style="background-color: white;margin-top: 50px">
    <hr />
    <img height="400" width="250" style="float: left" src="@Model.ImgUrl" />
    <dl class="dl-horizontal;col-md-4">
        <dd>
            <h2 style="color: black"> @Html.DisplayFor(model => model.Title)</h2>
            <hr />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Content)
            <hr />
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.Price) : <b>$@Html.DisplayFor(model => model.Price)</b>
            <hr />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ProductCategoryName)
            <hr />
        </dd>
    </dl>
    <div>
        <b><a asp-action="Index" asp-controller="Home">Back to Home Page</a></b>
    </div>
</div>
 

