@model FitnessGuru.Services.Models.Store.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="col-md-6">
    <hr />
 
    <dl class="dl-horizontal">
        <dd>
            <h2 style="color: black"> @Html.DisplayFor(model => model.Title)</h2>
            <hr />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Content)
            <hr />
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.Price) : <b>$@Html.DisplayFor(model => model.Price)</b>
            <hr />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ProductCategoryName)
            <hr />
        </dd>
    </dl>
    <div>
        <b><a asp-action="Index" asp-controller="Home">Back to Home Page</a></b>
    </div>
</div>
<img height="400" width="250" src="@Model.ImgUrl" />  

