@model FitnessGuru.Services.Models.Store.ProductDetailsViewModel
@{
    ViewData["Title"] = "Product Details";
}
<div class="container" style="background-color: #f5f2f2;margin-top: 50px">
    <hr />
    <img height="400" width="250" style="float: left;padding-right: 20px" src="@Model.ImgUrl" />
    <dl class="dl-horizontal;col-md-4">
        <dd>
            <h2 style="color: black"> @Html.DisplayFor(model => model.Title)</h2>
            <hr />
        </dd>
        <dd>
            <b>@Html.DisplayFor(model => model.Content)</b>
            <hr />
        </dd>
        <dd>
            <b>
                @{
                    var routeId = 0;
                    if (Model.ProductCategoryName == "Protein") { routeId = 1; }
                    else if (Model.ProductCategoryName == "Creatine") { routeId = 2; }
                    else if (Model.ProductCategoryName == "Pre-Workout") { routeId = 3; }
                    else if (Model.ProductCategoryName == "Bcaa") { routeId = 4; }
                    else if (Model.ProductCategoryName == "Fat Burner") { routeId = 5; }
                    else if (Model.ProductCategoryName == "Shaker Bottle") { routeId = 6; }
                    <a asp-controller="Categories" asp-action="ProductsCategory" asp-route-id="@routeId">@Model.ProductCategoryName</a>
                }
            </b>
            <hr />
        </dd>
        <dd>
            <b>$@Html.DisplayFor(model => model.Price)</b>
            <hr />
        </dd>
    </dl>
    <div>
        <b><a asp-action="Index" asp-controller="Home">Back to Home Page</a></b>
    </div>
</div>


