@model FitnessGuru.Services.Models.Store.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)$
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home Page</a>
</div>
